/* ========== -- /Background color, color -- ========== */
.bg_grey {
    background: #7d7d7d !important;
}

.bg_green {
    background: #47ccd6 !important;
}

.color_red {
    color: #df1c22;
}
/* ========== -- /END -- ========== */

.d-inline {
    display: inline;
}

/* ========== -- MODAL -- ========== */
.modal .modal-content {
    top: 175px;
    text-align: center;
}

.modal .modal-content span {
    font-size: 22px;
}

.modal-body {
    padding: 30px 15px 30px 15px;
}

.modal-footer {
    padding: 15px 50px;
}
/* ========== -- /END -- ========== */