.error-validate .list-errors {
    color: red;
    padding-left: 15px;
    text-align: left;
    margin-bottom: 0;
}

.error-validate {
    margin-bottom: 15px;
}

.error {
    border: 1px solid #df1c22;
}

.btn_custom {
    width: 75px;
    background: #00aebb;
    color: #fff;
    padding: 7px 12px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}

.btn_custom:hover, .btn_custom_action:hover {
    color: #fff;
}

.btn_custom_action {
    display: inline-block;
    background: #00aebb;
    width: 70px;
    margin-right: 5px;
    height: 25px;
    line-height: 13px;
    padding: 6px 12px;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.btn_show, .btn_view, .btn_del {
    display: inline-block;
}

button.btn_custom, button.btn_custom_action {
    border: none;
}

.icon-required {
    display: inline-block;
    width: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul.list-errors {
    list-style-type: square;
}

form .form-group {
    margin-bottom: 15px;
}