body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    font-size: 14px;
}

.hidden {
    display: none;
}

a:hover {
    color: #212529;
}

.open {
    background: #f8f9fa;
}

.max-w__100 {
    max-width: 100%;
}

.rowx {
    padding: 30px 15px 0 15px;
}

.color-red {
    color: #df1c22;
}

.open {
    background: #fff;
    border: 1px solid #E9F7F1;
}

.separator {
    background-color: #eee;
    margin: 30px 0 40px;
    height: 1px;
}

ul {
    padding-left: 20px;
}


#home {
    /*background: #f8f9fa;*/
    /* padding-top: 12vh; */
    padding: 30px 15px 0 15px;
}

button.navbar-toggler {
    border: none !important;
}

button.navbar-toggler:focus {
    outline: none !important;
}

.fixed-ontop {
    background: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
}

nav {
    background: #f8f9fa;
    padding: 3vh 1rem !important;
}

nav .navbar-brand > img {
    width: 30px;
    position: relative;
    top: 6px;
}

nav .navbar-brand .company-name {
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
}

nav .collapse .navbar-nav .nav-item {
    height: 40px;
    width: 130px;
}

nav .collapse .navbar-nav .nav-item .nav-item__link {
    margin: 0 20px;
    font-size: 14px;
    color: #212529;
    display: inline-block;
    line-height: 40px;
}

nav .collapse .navbar-nav .nav-item .nav-item__link:hover {
    text-decoration: none;
    color: #df1c22;
}

nav .collapse .navbar-nav .nav-item .active {
    color: #df1c22;
    font-weight: bold;
    position: relative;
}

nav .collapse .navbar-nav .lang {
    padding-top: 13px;
}

nav .collapse .navbar-nav .lang .lang--flag {
    display: inline-block;
}

.navbar-brand small {
    position: relative;
    bottom: 15px;
    left: 15px;
}

.fixed-top {
    position: unset;
}

#top > h1 {
    font-size: 44px;
    color: #47535D;
}

#top > .sort-description {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 50px auto;
    max-width: 90%;
}

.link-inline-block {
    text-align: center;
}

.link-inline-block h2 a {
    display: inline-block;
    text-align: center;
    background: #d81b21;
    border-radius: 999px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px 30px;
}

.link-inline-block h2 a:hover {
    background: #b61318;
}

#top .illustration {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

.title__text {
    font-size: 48px;
}

.title__sub {
    font-size: 15px;
}

.title__line {
    height: 1px;
    margin: 30px auto 60px;
    width: 80px;
}

#service {
    padding: 40px 0 30px;
}

#service .content__description {
    line-height: 30px;
}

#service .content__description__subtitle :first-child {
    font-size: 50px;
    margin-right: 15px;
}

#service .content__description__subtitle :last-child {
    font-size: 25px;
    display: inline-block;
}

#service .content__description__detail {
    font-size: 14px;
    margin-top: 20px;
}

#service .content .content__description__detail {
    line-height: 28px;
    padding: 0 10px;
}

.service__title {
    color: #47535D;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.items .item {
    display: inline-block;
    width: 32%;
    margin-bottom: 10px;
}

.items .item span {
    margin-top: 5px;
}

#partner {
    background: #f8f9fa;
}

#partner .partner-item {
    text-align: center;
    margin-bottom: 45px;
}

#partner .partner-item .link-partner {
    text-decoration: none;
    color: #819c9d;
}

#partner .partner-item .link-partner > img {
    max-width: 100%;
}

#partner .partner-item .link-partner .partner-name {
    margin-top: 15px;
}

#partner .partner-item .link-partner:hover {
    cursor: pointer;
    color: #5fc39a;
}

#about .infos {
    padding: 0 2vw 0 4vw;
}

#about .infos .avatar {
    text-align: center;
    margin-bottom: 20px;
}

#about .infos .avatar > img {
    margin-bottom: 10px;
    height: 50px;
}

#about .infos .info {
    display: inline-flex;
    max-width: 100%;
    padding: 8px 0;
}

#about .infos .info .imgwrap {
    width: 10vw;
}

#about .infos .info .line {
    width: 28vw;
}

#about .infos .info .detail {
    width: 62vw;
}

#about .separator {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-container {
    margin-top: 50px;
}

.swiper-container .swiper-wrapper .swiper-slide > img {
    max-width: 100%;
    border-radius: 5px;
}

.swiper-container .swiper-pagination {
    margin-top: 30px;
    width: 100%;
    position: relative;
}


/** Tab contact */
.contact .contact__title {
    text-align: center;
}

.contact .contact__list ul li {
    margin-top: 20px;
}

.contact .contact__list ul li a i {
    width: 30px;
    text-align: center;
}

/** End tab contact */

footer {
    padding: 15px 0;
    background: #E3EAEA;
}

footer .list .list__ul {
    list-style: none;
}

footer .list .list__ul li {
    display: inline-block;
    margin-bottom: 8px;
}

footer .list .list__ul li a {
    margin: 0 30px;
}

footer .list .list__ul li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #818C9D;
}

footer .line {
    width: 150px;
    margin: 18px auto;
    height: 1px;
}

footer #icon-back-to-top {
    position: fixed;
    width: 25px;
    bottom: 17px;
    right: 15px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

footer #icon-back-to-top:hover {
    cursor: pointer;
}

footer .show {
    opacity: 0.65 !important;
}

@media (min-width: 992px) {
    .open {
        background: #f8f9fa;
        border: none;
    }

    #home {
        /* padding-top: 15vh; */
    }
}

@media (max-width: 768px) {
    ul {
        padding: 0;
    }

    .sp-center {
        text-align: center;
    }

    #home #top > h1 {
        font-size: 35px;
    }

    #home #top > .sort-description {
        margin: 30px auto;
    }

    #top .sp-break-line {
        display: block !important;
    }

    #service .content__description {
        margin-top: 30px;
        text-align: center;
    }

    #service .content .content__description__detail > ul {
        list-style: none;
    }

    .items .item {
        width: 33.33%;
    }
}

@media (min-width: 576px) and (max-width: 980px) {
    #about .infos {
        padding: 0 15vw 0 18vw;
    }
}

@media (max-width: 476px) {
    #service .title .title__text {
        font-size: 36px;
    }
}

@media (min-width: 980px) {
    #about .separator {
        display: none;
    }

    #about .pc-border-left {
        border-left: 1px solid #eee;
    }
}

/*# sourceMappingURL=style.css.map */
