.list-admin .headings th:first-child {
    width: 50px;
}

.list-admin .headings .th_name, .list-admin .headings .th_email  {
    width: 200px;
}

.list-admin .headings .th_avatar {
    width: 100px;
}

.list-admin .headings .th_role {
    width: 100px;
}

.list-admin .headings th:last-child {
    width: 220px;
}

.list-admin th.column-title {
    display: table-cell;
}

.list-admin td {
    border: 1px solid #ccc;
}

.form-detail-confirm-admin .form-group {
    margin-bottom: 20px;
}