.list-admin .headings th:first-child {
    width: 50px;
}

.list-admin .headings .th_name, .list-admin .headings .th_email  {
    width: 150px;
}

.list-admin .headings .th_avatar {
    width: 100px;
}

.list-admin .headings .th_time {
    width: 100px;
}

.list-admin .headings .th_role {
    width: 100px;
}

.list-admin .headings th:last-child {
    width: 245px;
}

.list-admin th.column-title {
    display: table-cell;
}

.list-admin td {
    border: 1px solid #ccc;
}

.form-detail-confirm-admin .form-group {
    margin-bottom: 20px;
}

.list-action li {
    display: inline-block;
    width: 60px;
}

.admin-wrapper .search-admin {
    margin: 15px 0;
}

.admin-wrapper .search-admin .input {
    width: 200px;
    display: inline-block;
}
.admin-wrapper .search-admin select[name='role_type'] {
    width: 150px;
    display: inline-block;
}

.admin-wrapper .x_content {
    padding: 0;
    margin-top: 0;
}

.link_sort, .link_sort:hover {
    color: white;
    text-decoration: underline;
}